# 기본적으로 텍스트 파일은 LF로 고정 (리눅스 호환성)
* text eol=lf

# 윈도우 배치 파일만 CRLF 허용
*.bat text eol=crlf
*.cmd text eol=crlf

# 바이너리 파일
*.jar binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.otf binary
*.ttf binary
*.bin binary
